@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
}

.bodyWrapper {
	margin: 40px 100px;
}

.formDiv {
	margin-left: 60px;
	margin-top: 30px;
}

.formDiv h3{
	margin-bottom: 20px;
}
.createForm {
	width: 25%;
}

.formItem {
	display: flex;
	margin-bottom: 10px;
}

.formLabel, .formInput {
	flex: 1;
}

.editWrapper {
	margin: 40px 100px;
	width: 25%
}

.editHeader {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.editFormDiv {
	margin-top: 30px;
}

.editForm {
	width: 100%;
}